{% comment %} <div class="mega-menu">
  <p>{{ childlinks.levels }}</p>
  <ul>
  {% for link in childlinks.links %}
  {% if link.links != blank %}
  <li>{{link.title}}+</li>
  {% else %}
  <li>{{link.title}}</li>
  {% endif %}
  {% endfor %}
  </ul>
</div> {% endcomment %}

<div class="mega-menu{% if link.levels > 1 %} mega{% endif %}">
  {% if link.levels > 1 %}
    <div class="childlinks-with-children">
      {% for childlink in link.links %}
        <div class="link-grandchilds">
          <div class="childlink-title">{{ childlink.title }}</div>
          {% for grandchild in childlink.links %}
            <a href="{{grandchild.url}}" class="grandchildlink">{{ grandchild.title }}</a>
          {% endfor %}
        </div>
      {% endfor %}

      {% case link.title %}
        {% when 'Blogs' %}
        <div>Blog article</div>
        {% when 'Catalog' %}
        <div class="menu-collections-items">
          {% assign collection1 = collections['women'] %}
          <a href="{{ collection1.url }}" class="menu-collections-item">
            <div class="menu-collections-item-title">{{ collection1.title }}</div>
            <img
              src="{{ collection1 | img_url: '400x555' }}"
              loading="lazy"
              class="menu-collections-item-img"
              alt="">
          </a>
          {% assign collection2 = collections['men'] %}
          <a href="{{ collection2.url }}" class="menu-collections-item">
            <div class="menu-collections-item-title">{{ collection2.title }}</div>
            <img
              src="{{ collection2 | img_url: '400x555' }}"
              loading="lazy"
              class="menu-collections-item-img"
              alt="">
          </a>
          <div class="menu-collections-item"></div>
        </div>
        <div class="top-rated-products">
          <div class="section-title">TOP RATED</div>
          {% for product in collections['all'].products limit: 5 %}
            <a href="{{ product.url }}" class="top-rated-product">
              <div class="top-rated-product-image">
                <img src="{{ product.featured_image | img_url: 'small' }}" alt="{{ product.title }}">
              </div>
              <div class="top-rated-product-info">
                <div class="top-rated-product-title">{{ product.title }}</div>
                <div class="top-rated-product-price">{{ product.price | money }}</div>
              </div>
            </a>
          {% endfor %}
        </div>
    {% else %}

      {% endcase %}
    </div>
  {% else %}
    <div>childlinks level 1</div>
  {% endif %}
</div>