<div class="product-card">
  <a href="{{ product.url }}" class="product-card-inner">
    <div class="card-image">
      {% if product.featured_image %}
        <img
          src="{{product.featured_image | img_url: 'large' }}"
          alt="{{ product.featured_image.title }}"
          loading="lazy">
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: "w-full h-full object-cover bg-gray-200" }}
      {% endif %}
    </div>
    <div class="product-tag">
      {% if product.available == false %}
        <span>Sold Out</span>
      {% elsif product.price > product.compare_at_price %}
        {% capture discount %}
          You save {{ product.price | minus: product.compare_at_price_max | money_without_trailing_zeros }}
        {% endcapture %}
        <span>{{ discount }}</span>
      {% elsif product.metafields.tags.best_seller.value == true %}
        <span>Best Seller</span>

      {% endif %}
    </div>
    {% unless product.has_only_default_variant %}
      <div class="variants-info">
        {% for option in product.options_with_values %}
          {% if option.name == "Color" %}
            <div class="color-variants">
              {% for value in option.values %}
                <span
                  class="product-card-color-radio"
                  style="background-color: {{ value }};"
                  data-img-url=""></span>
              {% endfor %}
            </div>
          {% elsif option.name == "Size" %}
            <div class="size-variants">
              {% for value in option.values %}
                <span>{{ value | escape }}</span>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endunless %}
  </a>
  <div class="product-card-info">
    <div class="name-wishlist">
      <a href="{{ product.url }}" class="name">{{ product.title }}</a>
      <div class="product-card-wishlist" data-variantID="{{ product.first_available_variant.id }}">
        <i class="fa-solid fa-heart product-card-wishlist-btn"></i>
      </div>
    </div>
    {% if product.price > product.compare_at_price %}
      <span class="price original-price">{{ product.price | money }}</span>
      <span class="price dicounted-price">{{ product.compare_at_price | money }}</span>
    {% else %}
      <div class="price">{{ product.price | money }}</div>
    {% endif %}
  </div>
</div>