<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="{{'theme.css' | asset_url}}">
    <link rel="stylesheet" href="{{'splide.css' | asset_url}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% comment %} {{ 'application.js' | asset_url | script_tag }} {% endcomment %}
    <script src="{{'splide.js' | asset_url}}" defer></script>
    <script src="{{'application.js' | asset_url}}" defer></script>
    {% comment %} <script src="{{ 'banner-top' | asset_url }}" defer></script> {% endcomment %}
    {% comment %} <script src="http://localhost:5174/dist/assets/index.js" defer></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" defer></script>
    <!-- <script src="http://127.0.0.1:8000/script-tag" defer></script> -->
  </head>
  <body>
    {% section 'header' %}
    {% section 'cart-mini' %}
    <div class="background-overlay"></div>
    <main role="main">
      {{ content_for_layout }}
    </main>
    <div id="popups"></div>
    {% section 'footer' %}
  </body>
</html>