<section class="splide hero" aria-labelledby="carousel-heading">

  <div class="splide__track">
    <ul class="splide__list">
      {% comment %} <li class="splide__slide">
        <div class="slide-info-box">
        <h1>End of <br>season sale</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, dolor?</p>

        <a href="#">
        <button>Buy Now</button>
        </a>
        </div>
        <!--
        {% if section.settings.heroBackground != blank %}
        <img
        src="{{ section.settings.image1.src | image_url: 'master' }}"
        loading="lazy"
        alt="">
        {% else %}
        {% endif %} -->
        <img
        src="https://cdn.shopify.com/s/files/1/0651/3157/7585/files/f17-sl3.jpg?v=1661240357&width=2000"
        loading="lazy"
        alt="">;

      </li> {% endcomment %}
      {%- for block in section.blocks -%}
        <li class="splide__slide">
          <div class="slide-info-box">
            <h1>Surf the sunset</h1>
            <p>{{ block.settings.text }}</p>
            <button>
              <a href="{{ block.settings.link }}">{{ block.settings.button-text }}</a>
            </button>
          </div>
          {{ block.settings.slider-image | image_url: width: "2000" | image_tag: widths: '550, 720, 990, 1100, 1500, 2200, 3000' }}
        </li>
      {% endfor %}
      {% comment %} <li class="splide__slide">
        <div class="slide-info-box">
        <h1>Spring <br>Collection</h1>
        <p>Colour the summer in hot fuscia, bubblegum pink</p>
        <button>SHOP NOW</button>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0651/3157/7585/files/f17-sl2.jpg?v=1661240357&width=2000" alt="">
      </li> {% endcomment %}
    </ul>
  </div>
</section>

{% schema %}
  {
    "name": "hero",
    "max_blocks": 4,
    "settings": [],
    "blocks": [
      {
        "type": "Slide",
        "name": "Slide",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Welcome to our store",
            "label": "Text"
          }, {
            "type": "url",
            "id": "link",
            "label": "Url"
          }, {
            "type": "image_picker",
            "id": "slider-image",
            "label": "Pick the slide image"
          }, {
            "type": "text",
            "id": "button-text",
            "default": "SHOP NOW",
            "label": "Button Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "hero"
      }
    ]
  }
{% endschema %}