{% assign selected_variant = product.selected_or_first_available_variant %}


<div class="product-page" data-section="{{ section.id }}">
  <div class="page-breadcrumbs">
    <div class="breadcrumbs">
      <span>
        <a href="/">Home</a>
      </span>
      <span>
        <i class="fa-solid fa-chevron-right"></i>
      </span>
      <span>{{ product.title }}</span>
    </div>
    <div class="product-navigation">
      <span>
        <i class="fa-solid fa-chevron-left"></i>
      </span>
      <span>
        <i class="fa-solid fa-block"></i>
      </span>
      <span>
        <i class="fa-solid fa-chevron-right"></i>
      </span>
    </div>
  </div>
  <div class="product-section">
    {% if product.images.size > 1 %}
      <div class="product-medias">
        <div class="product-main-image">
          <section class="splide product-main-image-slider">
            <div class="splide__track">
              <div class="splide__list">
                {% if product.options contains 'Color' %}
                  {% for image in product.images %}
                    <div class="splide__slide">
                      <img
                        src="{{ image.src | img_url: 'large' }}"
                        loading="lazy"
                        alt="">
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </section>
        </div>
        <div class="product-images-nav">
          <section class="splide product-images-nav-slider">
            <div class="splide__track">
              <div class="splide__list">
                {% for image in product.images %}
                  <div class="splide__slide">
                    <img
                      src="{{ image.src | img_url: 'large' }}"
                      loading="lazy"
                      alt="">
                  </div>
                {% endfor %}

              </div>
            </div>
          </section>
        </div>
      </div>
    {% else %}
      <div class="product-medias">
        <div class="product-main-image">
          <img
            src="{{ product.featured_image | img_url: 'large' }}"
            loading="lazy"
            alt="">
        </div>
      </div>
    {% endif %}
    <div class="product-info">
      {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
        <input
          type="hidden"
          name="id"
          value="{{ selected_variant.id }}">
        <h1 class="prod-title">{{ product.title }}</h1>
        <div class="prod-price">
          {% if selected_variant.price > selected_variant.compare_at_price %}
            <span class="dicounted-original-price">{{ selected_variant.price | money }}</span>
            <span class="prod-discounted-price">
              {{ selected_variant.compare_at_price | money }}</span>
          {% else %}
            <span>{{ selected_variant.price | money }}</span>
          {% endif %}
        </div>
        <p class="prod-short-desc">{{ product.description | truncatewords: 15 | strip_html }}</p>
        <div class="prod-variants" data-url="{{ product.url }}">
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="prod-option">
                <div class="option-title">{{ option.name | escape }} : {{ option.selected_value }}</div>
                {% for value in option.values %}
                  <span
                    data-swatch-type="{{option.name}}"
                    data-slide="{{ forloop.index0 }}"
                    class="option-value{% if option.selected_value == value %} is_selected active {% endif %}"
                    data-value="{{ value }}">{{ value }}</span>
                {% endfor %}
              </div>
            {% endfor %}
          {% endunless %}
          <script type="application/json">
            {{ product.variants | json }}
          </script>
        </div>
        <div class="add-to-cart-and-quantity">
          <div class="prod-quantity">
            <button class="quantity-selector is--minus">-</button>
            <input
              type="number"
              class="prod-quantity-input"
              name="quantity"
              min="1"
              id="Quantity-{{section.id}}"
              size="4"
              pattern="[0-9]*"
              inputmode="numeric"
              data-current-qty=""
              value="1">
            <button class="quantity-selector is--plus">+</button>
          </div>
          <button
            type="submit"
            name="add"
            class="add-to-cart-button"
            {% if selected_variant.available == false %}
            disabled
            {% endif %}>
            {% if
 selected_variant.available == false %}
              Soldout
            {% else %}
              <span class="add-cart-button-text">Add to Cart</span>
            {% endif %}
            <span class="lds-dual-ring"></span>
          </button>
        </div>
      {% endform %}
      <!-- wishlist and compare block -->
      <div class="wis_cp_container">
        <a
          href="{{ product.url }}"
          data-id="{{ selected_variant.id }}"
          class="wis-button-container">
          <span class="wis-button-icon">
            {% include 'heart-icon' %}
          </span>
          <span class="wis-button-text">Add to wishlist</span>
        </a>
        <a
          href="{{ product.url }}"
          data-id="{{ selected_variant.id }}"
          class="cp-button-container">
          <span class="cp-button-icon">
            {% include 'compare-icon' %}
          </span>
          <span class="cp-button-text">compare</span>
        </a>
      </div>
      {% comment %} Popups {% endcomment %}
      <div class="product-info-popups-container">
        <a href="{{ product.url }}">Delivery & Return</a>
        <a href="{{ product.url }}">Ask a question</a>
      </div>
      <div class="product-tags">
        <span class="product-tags-title">Categories:
        </span>
        {% for tag in product.tags %}
          <a href="{{ tag.url }}">{{ tag }}
          </a>
        {% endfor %}
      </div>
      <div class="prod-social-share">
        <div class="social-share-title">Share:</div>
        {% render 'socials' %}
      </div>
    </div>
  </div>
</div>
<div class="tabs-container">
  <section class="tabs">
    <div class="tab-btns">
      <div class="tab-btn active">
        <span>Description</span>
      </div>
      <div class="tab-btn">
        <span>Additional Information</span>
      </div>
      <div class="tab-btn">
        <span>Reviews</span>
      </div>
    </div>
    <div class="tabs-content">
      <div class="tab-content active">{{ product.description }}</div>
      <div class="tab-content">
        {% if product.metafields.tabs.materials.value != null %}
          <p>
            {{ product.metafields.tabs.materials.value }}
          </p>
        {% else %}
          <p>Please contact us to know the materials</p>
        {% endif %}
      </div>
      <div class="tab-content">
        <p>{{ section.settings.thirdTabContent }}
        </p>
      </div>
    </div>
  </section>
</div>
<div class="related-recent-products-container">
  {% include 'related-recent-products' %}
</div>

{%- if recommendations.performed? -%}
  <div id="product-recommendations">
    {%- if recommendations.products_count > 0 -%}
      {% if recommendations.intent == 'related' %}
        <h2>You may also like</h2>
      {% elsif recommendations.intent == 'complementary' %}
        <h2>Pair it with</h2>
      {% endif %}

      <ul>
        {%- for product in recommendations.products -%}
          <li class="grid__item small--one-half medium-up--one-quarter">
            <a href="{{ product.url }}">
              <span>{{ product.title }}</span>
              <span>{{ product.price | money }}</span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
{%- endif -%}


<script>
  const productId = {{product.id}}
  const productRecommendationsSection = document.querySelector('.product-recommendations');

  fetch(window.Shopify.routes.root + `recommendations/products?product_id=${productId}&limit=4&section_id=product-recommendations&intent=related`).then(response => response.text()).then((text) => {
    const html = document.createElement('div');
    html.innerHTML = text;
    const recommendations = html.querySelector('.product-recommendations');

    if (recommendations && recommendations.innerHTML.trim().length) {
      productRecommendationsSection.innerHTML = recommendations.innerHTML;
    }
  });
</script>


{% schema %}
  {
    "name": "Product",
    "blocks": [
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "variant_selector",
        "name": "Variant Selector",
        "limit": 1
      }, {
        "type": "quantity",
        "name": "Quantity",
        "limit": 1
      }, {
        "type": "description",
        "name": "Description",
        "limit": 1
      }, {
        "type": "checkout_button",
        "name": "Checkout Button",
        "limit": 1
      }
    ],
    "settings": [
      {
        "type": "textarea",
        "id": "thirdTabContent",
        "label": "third tab"
      }
    ],
    "presets": [
      {
        "name": "product-template"
      }
    ]
  }
{% endschema %}