{% assign end_date = section.settings.end_time | date: "%d/%m/%Y %H:%M:%S" %}
<section class="timer-container">
  <div class="timer-info-box">
    <div class="timer-info">
      <h1>Deal of the day</h1>
    </div>
    <div class="timer-box">
      <div>
        <span class="discount">10% OFF</span>
      </div>
      <span>Adjustable Bowline Necklace</span>
      <span class="price">$86.00</span>
      {% comment %} <div
        class="timer"
        data-day="{{ section.settings.day }}"
        data-month="{{section.settings.month}}"
      data-year="{{ section.settings.year }}"></div> {% endcomment %}
      <timer-component data-endtime="{{ section.settings.end_time | date: "%d/%m/%Y %H:%M:%S" }}"></timer-component>
      <div>
        <a href="{{ section.settings.url }}" class="product-link">{{ section.settings.button_text }}</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "timer",
    "settings": [
      {
        "type": "text",
        "id": "end_time",
        "label": "End date and time",
        "default": "30/12/2023 23:00:00",
        "info": "Format: dd/mm/yyyy hh:mm:ss"
      }, {
        "type": "text",
        "id": "heading",
        "default": "Deal of the day",
        "label": "Heading text",
        "placeholder": "Add the heading text here"
      }, {
        "type": "url",
        "id": "url",
        "label": "button url"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "View full details"
      }
    ],
    "presets": [
      {
        "name": "timer"
      }
    ]
  }
{% endschema %}